.show-page__wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  height: calc(100vh - 90px);
  position: fixed;
  overflow: hidden;
  top: 90px;
  width: 100vw;
}

.show-page__container {

  h2 {
    margin-top: -25px;
  }
}

.show-page__user-row {
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 50%;
    padding: 10%;
  }
  button {
    width: 100%;
  }
  .thumbnail {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10%;
    border-radius: 10%;

    h3 {
      margin-top: -10px;
    }
  }
}

.show-page__cta-row {

}

.show-page__runners-row {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  height: 80px;
  position: absolute;
  padding-left: 100px;
  padding-right: 500px;
  bottom: 0;
  left: 0;
  right: 0;

  h3 {
    font-size: 20px;
  }
 }

.show-page__details-row {
  background-color: white;
  color: black;
  height: 150px;
  position: absolute;
  bottom: 80px;
  padding-right: 500px;
  display: flex;
  align-items: center;
  width: 100%;
  .fa-star {
    color: $brand-info;
    font-size: 30px;
  }
  .hidden-xs {
    display: flex;
    align-items: center;
    height: 156px;
  }
}


.show-page__search-column {
  margin-top: 20px;
  position: absolute;
  left: 20px;
}
.show-page__user-avatar {
  img {
    border: 5px solid white;
    position: fixed;
    bottom: -100px;
    right: -100px;
    width: 600px;
    z-index: 3000;
  }
}
