.card-run {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  background-color: #FFF;
  color: white;
  position: relative;
  border-radius: 1%;
}



.avatar-rounded {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  right: 20px;
}

.card-runner {
  height: 230px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 1%;
}


.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 1%;
}

.card-user-popside{
  position: absolute;
  left: -190px;
  top: -53px;
  // width: 100px;
    height: 300px;
  // border-radius:50%;
  // color: white;
  // background-color: white;
   border: 5px solid white;
    // position: fixed;
    bottom: -100px;
    right: -100px;
    width: 300px;
    z-index:-9999;
}

.fa-star {
    color: $brand-info;
    font-size: 30px;
  }

// .card-user {
//   position: absolute;
//   left: 20px;
//    top: 40px;
//   // width: 100px;
//    height: 190px;
//   // border-radius:50%;
//   // color: white;
//   // background-color: white;
//    border: 5px solid white;
//     // position: fixed;
//     bottom: -100px;
//     right: -100px;
//     width: 300px;
//     z-index: 3000;
//   .fa-star {
//     color: $brand-info;
//     font-size: 30px;
//   }
// }
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 30px;
}
.card-description p {
  font-size: 18px;
  opacity: 1;
 }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
